@using FinalCSharpDrill.ViewModels
@using System.Collections.Generic
@model List<MyEntity>

<div class="row no-gutters" m-3>
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Admin Page</h5>
        </div>
        <div class="card-body">
            @foreach (var employee in Model)
            {
                <div class="row mb-3">
                    <div class="col-2">
                        <h5>Employee's First Name: @employee.FirstName</h5>
                    </div>
                    <div class="col">
                        <h5>Employee's Last Name: @employee.LastName</h5>
                    </div>
                    <div class="col-4">
                        <h5>Employee's Email Address: @employee.EmailAddress"</h5>
                    </div>
                    <div class="col-4">
                        <h5>Employee's Date Of Birth: @employee.DateOfBirth"</h5>
                    </div>
                    <div class="col-4">
                        <h5>Employee's Title: @employee.Title"</h5>
                    </div>
                    <div class="col-4">
                        <h5>Employee's Salary: @employee.Salary"</h5>
                    </div>
                    <div class="col-4">
                        <h5>Employee's Work Location Status: @employee.WorksRemotely"</h5>
                    </div>
                    <br>
                </div>
            }
        </div>
    </div>
</div>

